import("plyr")
import("truncdist")

export(Breaking)
export(Estimation.GRUM.MLE)
export(Estimation.Normal.GMM)
export(Estimation.PL.GMM)
export(Estimation.PL.MLE)
export(Estimation.RUM.MLE)
export(Estimation.RUM.MultiType.MLE)
export(Estimation.RUM.Nonparametric)
export(Estimation.Zemel.MLE)
export(Evaluation.AveragePrecision)
export(Evaluation.KL)
export(Evaluation.KendallTau)
export(Evaluation.LocationofWinner)
export(Evaluation.MSE)
export(Evaluation.NDCG)
export(Evaluation.Precision.at.k)
export(Evaluation.TVD)
export(Expo.MultiType.Pairwise.Prob)
export(Generate.NPRUM.Data)
export(Generate.RUM.Data)
export(Generate.RUM.Parameters)
export(Generate.Zemel.Parameters)
export(Generate.Zemel.Ranks.Pairs)
export(KL)
export(Likelihood.Nonparametric)
export(Likelihood.PL)
export(Likelihood.RUM)
export(Likelihood.RUM.Multitype)
export(Likelihood.Zemel)
export(MSE)
export(Normal.MultiType.Pairwise.Prob)
export(Normal.Pairwise.Prob)
export(PL.Pairwise.Prob)
export(TVD)
export(Visualization.Empirical)
export(Visualization.MultiType)
export(Visualization.Pairwise.Probabilities)
export(Visualization.RUMplots)
export(Zemel.Pairwise.Prob)
export(convert.vector.to.list)
export(generateC)
export(generateC.model)
export(generateC.model.Nonparametric)
export(scores.to.order)
export(scramble)
export(turn_matrix_into_table)